.git
.github
build
docs
projects/client/node_modules
projects/ui/node_modules
projects/ui/config.js
projects/gamemode/node_modules
projects/gamemode/coverage
projects/gamemode/gamemode.js
projects/server/node_modules
projects/skyrim-platform/node_modules
vcpkg
